{% load static %}

<div class="card mb-3">
    <div class="row">
        <div class="col-md-3">
            <img class ="img-fluid mt-4" src="{% static 'img/'|add:blog.image %}" alt="">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <a href="{% url 'blog_details' 1 %}">
                    <h5 class="card-title">Komple Web Geliştirme</h5>
                </a>
                
                <p class="card-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed odit omnis suscipit iusto voluptatum ullam id, consequuntur temporibus ducimus. Excepturi odit officiis magni debitis necessitatibus molestias architecto quod, sint dolorum.
                </p>
            </div>
        </div>
    </div>
</div>