{% load static %}
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"">
    
    {% block css_files %}
    
    {% endblock css_files %}
    <title>{% block Title %}
        
        {% endblock Title %} | BloggApp


    </title>
</head>
<body>
    
    {% include 'partials/_navbar1.html' %}
    
    {% block Content %}
    
    {% endblock Content %}

    


    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="{% static 'js/base.js'%}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>

    {% block js_files %}
    
    {% endblock js_files %}
</body>
</html>