

<div class="pagination">

    <li class="page-item previous-page disable"><a href="" class="page-link">Önceki</a></li>
    <li class="page-item current-page active"><a href="" class="page-link">1</a></li>
    <li class="page-item dots"><a href="" class="page-link">1</a>...</li>
    <li class="page-item current-page"><a href="" class="page-link">5</a></li>
    <li class="page-item current-page"><a href="" class="page-link">6</a></li>
    <li class="page-item dots"><a href="" class="page-link">1</a>...</li>
    <li class="page-item current-page"><a href="" class="page-link">10</a></li>
    <li class="page-item next-page"><a href="" class="page-link">Sonraki</a></li>
</div>