
{% extends 'base.html' %}


{% block Title %}

Index
{% endblock Title %}

{% block Content %}

<br>



<div class="container mt-3">

    <div class="row">
        <div class="col-2">
            {% include 'partials/_categories.html' %}
        </div>
        <div class="col-10">
             <br>
             {% include 'partials/_slide.html' %}

             <br>
            
            {% for blog in blogs %}

            {% if blog.isHome and blog.isActive %}

            {% include 'blog/partials/_blogs.html' %}
            
            {% endif %}
            
            {% endfor %}
            
            
        </div>
    </div>
</div>

{% endblock Content %}
    
