
{% extends 'base.html' %}


{% block Title %}

Index
{% endblock Title %}

{% block Content %}



<div class="container mt-3">

    <div class="row">
        <div class="col-3">
            {% include 'partials/_categories.html' %}
        </div>
        <div class="col-9">
            <h1>Home Page</h1>
            <hr>
            
            {% for blog in blogs %}
            {% include 'blog/partials/_blogs.html' %}
            {% endfor %}
            
            
        </div>
    </div>
</div>

{% endblock Content %}
    
