            .navbar li {
                font-family: 'Lobster Two', cursive !important;
            }
            
            .navbar-light .navbar-brand {
                font-family: 'Lobster Two', cursive !important;
            }
            
            nav a {
                color: #fff!important;
                font-family: 'Lobster Two', cursive !important;
            }
            
            .navbar-default {
                font-family: 'Lobster Two', cursive !important;
            }
            
            #carouselExampleControls .carousel-item img {
                object-fit: cover;
                object-position: center;
                height: 50vh;
                overflow: hidden;
            }
            
            .carousel,
            .item,
            .active {
                height: 100%;
                margin-bottom: 60px;
            }
            
            .carousel-inner {
                height: 100%;
            }