            .navbar li {
                font-family: 'Lobster Two', cursive !important;
            }
            
            .navbar-light .navbar-brand {
                font-family: 'Lobster Two', cursive !important;
            }
            
            nav a {
                color: #fff!important;
                font-family: 'Lobster Two', cursive !important;
            }
            
            .navbar-default {
                font-family: 'Lobster Two', cursive !important;
            }
            
            .carousel-inner {
                width: 800px !important;
                height: 360px !important;
            }